# PyCharm environment
.idea
__pycache__

# Mac files
.DS_Store

# LaTex files
.aux
.log
.out
.synctex.gz

# Ignore the data to build the data recognition neural network
DR_Data/

# Ignore Jupyter Notebooks
# .ipynb_checkpoints
